<div class="item-card" [routerLink]="['/items', item.id]">
  <div class="card-image">
    <img [src]="item.thumbnail" [alt]="item.title" />
  </div>
  <div class="card-content">
    <h3 class="card-title">{{ item.title }}</h3>
    <p class="card-description">{{ item.description | slice:0:100 }}{{ item.description.length > 100 ? '...' : '' }}</p>
    <div class="card-footer">
      <span class="card-price">${{ item.price }}</span>
      <span class="card-rating">⭐ {{ item.rating }}</span>
    </div>
  </div>
</div>



