h2 {
  color: #df1e1e;
  font-family: Arial, sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
  font-size: 16px;
}

a {
  color: #d21919;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
:host {
  display: block;
  background-color: #ffffff; 
  min-height: 100vh;        
  padding: 20px;
}
